<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iam360.dscvr">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name=".DscvrApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="dscvr" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.VRModeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.gnirt69.gcmexample"/>
            </intent-filter>
        </receiver>

        <!-- GCM Receiver Service -->
        <service android:name=".gcm.GCMPushReceiverService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service android:name=".gcm.GCMRegistrationIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name=".views.activity.OptographDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.RecorderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.OptoImagePreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MailingListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.SharingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.SignInActivity"
            android:screenOrientation="portrait" />

        <!--<activity-->
            <!--android:name=".views.activity.SignInAct2"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".views.activity.SigninFBActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".views.activity.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.WebViewActivity"
            android:label="Twitter Login"
            android:screenOrientation="portrait" />

        <activity android:name=".views.activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".views.activity.RingOptionActivity"
            android:screenOrientation="portrait" />

        <!-- change to true to debug mixpanel -->
        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="false" />

        <!-- keep this secret safe -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="11b87c97c005ce8c5b5369b6eac7d4d41960bdff" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider221219334902804"
            android:exported="true" />

        <activity android:name=".views.activity.CreateUsernameActivity"></activity>
    </application>

</manifest>
